#space{
    margin-top: 10px;
    margin-left: 400px;
    width: 700px;
    height: 700px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    
}
body{
    
    background-image: url(/images/nasa-rTZW4f02zY8-unsplash.jpg);
}
.rocket{
    position: absolute;
    bottom: 0;
    transform: rotate(-45deg);
    font-size: 50px;
}
.button{
    float: left;
    margin-top:-570px;
    width: 80px;
    height: 50px;
    color: black;
    background-image: linear-gradient(to right, red , yellow);
}
#fire{
margin-left: 155px;
}
#break{
    margin-top: -519px;
    margin-left: 155px; 
}
#left{
    margin-top: -545px;
    margin-left:74px;
}
#rigth{
    margin-left: 236px;
    margin-top: -545px;
}
.spot{
    width:8px ;
    height: 8px;
    background-color:red;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 30px;
    animation-name: anim ;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    margin-top: 40px;
}
@keyframes anim {
0% {transform:translate(660px)}
50%{transform:translate(0px)}
75%{transform:translate(-660%) }
100%{transform:translate(0px)}
}



